.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 100%;
}

.row div {
  flex: 0 48%;
}

@media (max-width: 850px) {
  .row {
    flex-direction: column;
  }

  .row div {
    width: 500px;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

@media (max-width: 600px) {
  .row div {
    width: 100%;

  }
}